
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

html {
    scroll-behavior: smooth;
}

.blab-font {
    font-family: 'Source Sans Pro';
    font-weight: 300;
}

.blab-landing {
    border-top: 1px #111111 solid;
}

.blab-bg {
    background-image: url('./images/tamalpais.jpg');
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 75vh;
}

.chat-bg {
    background-color: #ffffff;
    min-height: 65vh;
    opacity: 0.85;
}

.about-bg {
    background-color: #b0d0c1;
    min-height: 30vh;
}

.contact-bg {
    background-color: #90c5d3;
    min-height: 30vh;
}

.footer-bg {
    background-color: #222222;
    min-height: 15vh;
    color: #ffffff;
}

#fade {
    animation: fadein 2.5s;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}